@import '~@angular/material/theming';
.container {
  height: calc(100vh - 64px - 1.34375em - 1.5em - 1.125em);
  position: relative;
  width: 100%;
}

.inner-container {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  right: 0;
}

.loading-container {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
}

.loading-more {
  margin: 10px 0;
}

.message {
  color: white;
  background-color: mat-color($mat-blue-gray, 500);
  border-radius: 4px;
  margin: 0 20px;
  max-width: 500px;
  padding: 10px;

  &.sent {
    background-color: mat-color($mat-indigo, 500);

    &.pending {
      background-color: transparent;
      border: solid 1px mat-color($mat-indigo, 500);
      color: black;
    }
  }
}

.message-wrapper {
  margin-bottom: 10px;
  margin-top: 10px;
}
