@import '~@angular/material/theming';
@import '../../../../variables.scss';

$img-dim: 60px;
$ind-dim: 12.5px;

.img {
  background-size: cover;
  border-radius: $img-dim;
  height: $img-dim;
  margin: 0 10px;
  position: relative;
  width: $img-dim;

  .indicator {
    border-radius: $ind-dim;
    bottom: 0;
    height: $ind-dim;
    position: absolute;
    right: 0;
    width: $ind-dim;

    &.online {
      background-color: mat-color($mat-light-green, 500);
      border: solid 2px mat-color($mat-gray, 50);
    }
  }
}

.container {
  border-bottom: solid 1px $dark-dividers;
  cursor: pointer;
  padding: 10px 0;
  max-width: 20vw;

  @media #{$lt-sm-break} {
    max-width: 80vw;
  }

  &.active-link {
    background-color: mat-color($mat-gray, 100);
  }
}

.column {
  max-width: calc(20vw - 80px);
  padding-right: 5px;
  @media #{$lt-sm-break} {
    max-width: calc(80vw - 80px);
  }
}

.name,
.body,
.time {
  margin-top: 5px;
}

.body,
.time {
  color: mat-color($mat-gray, 500);
}

.body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
