<div class="wrapper">
  <mat-toolbar *ngIf="isMobile && user$ | async as user" color="primary">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="mobile-img" [style.background-image]="url(user)">
        <div class="indicator" [class.online]="user.username | getOnline | async"></div>
      </div>
    </div>
    <div class="mat-headline name">
      {{ user.name }}
    </div>
  </mat-toolbar>
  <div class="container">
    <ca-chats
      [userId]="userId"
      [messages]="chatMessages$ | async"
      [pending]="pending$ | async"
      [loading]="loading$ | async"
      [loadingMore]="loadingMore$ | async"
      [nextLink]="nextLink$ | async"
      (getMore)="onGetMore($event)">
    </ca-chats>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Type a message..." [formControl]="bodyCtrl" (keyup.enter)="onSend()">
      <button matSuffix mat-icon-button (click)="onSend()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="user-info" fxLayout="column" *ngIf="user$ | async as user">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="img" [style.background-image]="url(user)">
        <div class="indicator" [class.online]="user.username | getOnline | async"></div>
      </div>
    </div>
    <div class="mat-headline name">
      {{ user.name }}
    </div>
    <div class="mat-title username">
      ({{ user.username }})
    </div>
    <div class="details">
      {{ user.prog }}, {{ user.dept }}
    </div>
  </div>
</div>
