@import '../../../../variables.scss';

.wrapper {
  height: calc(100vh - 64px);
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.container {
  border-right: solid 1px $dark-dividers;
  height: calc(100vh - 64px + 1.34375em - 0.75em);
  left: 0;
  position: absolute;
  top: 0;
  width: 75%;

  @media #{$lt-sm-break} {
    height: calc(100vh - 64px + 1.34375em - 0.75em - 56px);
    top: 56px;
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
}

$img-dim: 7.5vw;
$ind-dim: 1.5625vw;
$mobile-img-dim: 40px;
$mobile-ind-dim: 8.33px;

.mobile-img {
  background-size: cover;
  border-radius: $mobile-img-dim;
  height: $mobile-img-dim;
  position: relative;
  width: $mobile-img-dim;

  .indicator {
    border-radius: $mobile-ind-dim;
    bottom: 0;
    height: $mobile-ind-dim;
    position: absolute;
    right: 0;
    width: $mobile-ind-dim;

    &.online {
      background-color: mat-color($mat-light-green, 500);
      border: solid 2px mat-color($mat-gray, 50);
    }
  }
}

.img {
  background-size: cover;
  border-radius: $img-dim;
  height: $img-dim;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  width: $img-dim;

  .indicator {
    border-radius: $ind-dim;
    bottom: 0;
    height: $ind-dim;
    position: absolute;
    right: 0;
    width: $ind-dim;

    &.online {
      background-color: mat-color($mat-light-green, 500);
      border: solid 2px mat-color($mat-gray, 50);
    }
  }
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;

  @media #{$lt-sm-break} {
    visibility: hidden;
    width: 0;
  }
}

.name,
.username,
.details {
  text-align: center;
}

.name {
  @media #{$lt-sm-break} {
    margin-bottom: 0;
    margin-left: 10px;
  }
}
